/* 
cor1: #5006b8
cor2: #7a30e3
cor3: #6824c7
cor4: #8555c9
cor5: #bb8efa
cor6: #954cfc
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #5006b8;
    --cor1: #7a30e3;
    --cor2: #6824c7;
    --cor3: #8555c9;
    --cor4: #bb8efa;
    --cor5: #954cfc;
}

header {
    background-color: #8555c9;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-family: 'Times New Roman', Times, serif;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 2rem;
}

#about {
    align-items: center;
    margin-left: 8.6rem;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}

#group_1 {
    margin-top: 2rem;
    flex-flow: column;
    justify-content: end;
    margin-left: 3rem;
}

#group_1>h2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

#group_1>p {
    justify-content: center;
    display: flex;
}

#lists {

    margin-top: 6rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hobies {
    margin-left: 25rem;
    justify-content: end;
    margin-right: 0;
}

.nome_lista {
    justify-content: center;
    margin-left: 25rem;
}

.nome_lista_2 {
    margin-right: 25rem;
    justify-content: center;
    margin-left: 0;
}

.ol {
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.card {
    font-size: small;
    width: 7rem;
    height: 5rem;
    border: solid var(--cor1);
    background-color: #bb8efa;
    text-align: justify;
    margin: 10px;
    justify-content: start;
    justify-content: wrap;
    border-radius: 10px;
}

.card_2 {

    font-size: small;
    width: 7rem;
    height: 5rem;
    border: solid var(--cor1);
    background-color: #bb8efa;
    text-align: justify;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #7a30e3;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;


}

.redes_sociais {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    margin-right: 3rem;
    justify-content: space-between;

}

.redes_sociais>a {
    margin: 1rem;
}

.botao {
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

@media screen and (max-width:809px) {
    .ol {
        justify-content: space-evenly;
        width: 400px;
        flex-wrap: wrap;
    }

    .nome_lista_2 {
        margin-right: 0;
    }

    .nome_lista {
        margin-left: 1rem;

    }
    #group_1{
        margin-left: 0;
    }
}
